body {
    background-color: #828282;
}

button:hover {
    cursor: pointer;
}

.loadingText {
    position: absolute;
    left: 577px;
    top: 336px;
    z-index: 1;
    display: none;
    color: red;
}

.loginForm {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 280px;
    background-color: #222426;
    border-radius: 10px;
    font-size: 18px;
    margin: 300px auto;
    box-shadow: 10px 5px 30px -1px #ED0E15;
}

.welcomeText {
    font-size: 26px;
    color: rgb(232, 230, 227);
}

.loginInputField {
    padding-left: 20px;
    width: 300px;
    height: 40px;
    border-radius: 8px;
    outline: none;
    margin-top: 60px;
}

.loginButtonSubmit {
    width: 150px;
    height: 40px;
    border-radius: 8px;
    margin-top: 30px;
}

.lobbyForm {
    display: flex;
    position: relative;
    width: 530px;
    height: 310px;
    background-color: #222426;
    border-radius: 10px;
    font-size: 18px;
    margin: 200px auto;
}

.playersBlock {
    width: 200px;
    height: 310px;
    background-color: rgba(255, 216, 249, 0.45);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.playersBlock-text {
    display: block;
    margin-top: 10px;
    margin-left: 30px;
    font-size: 20px;
    padding-top: 10px;
    color: rgb(232, 230, 227);
}

.playersList {
    display: block;
    margin-top: 10px;
    color: rgb(232, 230, 227);
    font-size: 20px;
}

li {
    margin-top: 5px;
}

.lobbyForm__buttonBlock {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 310px;
    width: 330px;
}

.submitPlay {
    margin-top: 70px;
    width: 100px;
    height: 100px;
    border-radius: 212px;
    background: white url("./images/free-icon-rock-paper-scissors-6851363.png") no-repeat;
    background-size: 100% 100%;
}

.startGameText {
    display: block;
    margin-top: 20px;
    width: 150px;
    height: 35px;
    color: rgb(232, 230, 227);
    font-size: 28px;
}

.waitingBlock {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
    width: 460px;
    height: 385px;
    background-color: #222426;
    border-radius: 10px;
    font-size: 18px;
    margin: 200px auto;
}

.waitingBlockText {
    margin-top: 20px;
    font-size: 28px;
    color: rgb(232, 230, 227);
}

.animated-ring {
    display: inline-block;
    margin-top: 80px;
    width: 80px;
    height: 80px;
}

.animated-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: animated-ring 1.2s linear infinite;
}

@keyframes animated-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.moveForm {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    position: relative;
    width: 550px;
    height: 410px;
    background-color: #222426;
    border-radius: 10px;
    font-size: 18px;
    margin: 200px auto;
}

.moveText {
    font-size: 28px;
    color: rgb(232, 230, 227);
}

.gameEnemy {
    display: block;
    font-size: 20px;
    color: rgb(232, 230, 227);
}

.moveBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 449px;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    background-color: rgba(255, 216, 249, 0.45);
}

.gameButtons {
    width: 60px;
    height: 60px;
    margin: 22px 10px;
    border-radius: 30px;
}

#scissorsButton.gameButtons {
    background-image: url("./images/scissors.png");
    background-repeat: no-repeat;
    background-size: 110% 110%;
    background-position: bottom -4px left -1px;
}

#rockButton.gameButtons {
    background-image: url("./images/rock.png");
    background-repeat: no-repeat;
    background-size: 110% 110%;
    background-position: bottom 0px left -1px;
    rotate: 90deg;
}

#paperButton.gameButtons {
    background-image: url("./images/paper.png");
    background-repeat: no-repeat;
    background-size: 110% 110%;
    background-position: bottom -4px left -1px;
}

.waitingEnemyBlock {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
    width: 460px;
    height: 385px;
    background-color: #222426;
    border-radius: 10px;
    font-size: 18px;
    margin: 200px auto;
}

.waitingBlock-text {
    display: block;
    margin-top: 20px;
    font-size: 28px;
    color: rgb(232, 230, 227);
}

.winBlock {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
    width: 483px;
    height: 285px;
    background-color: #222426;
    border-radius: 10px;
    font-size: 18px;
    margin: 200px auto;
    padding: 20px;
}

.winBlock-text {
    margin-top: 20px;
    font-size: 28px;
    color: rgb(232, 230, 227);
}

.loseBlock {
    position: relative;
    width: 483px;
    height: 285px;
    background-color: #222426;
    border-radius: 10px;
    font-size: 18px;
    margin: 200px auto;
    padding: 20px;
}

.loseBlock-text {
    display: block;
    margin-top: 20px;
    font-size: 28px;
    color: rgb(232, 230, 227);
    text-align: center;
}

.returnButtonsBlock {
    margin-top: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 480px;
    height: 200px;
}

.returnLobby {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    height: 200px;
}

.returnLobby button {
    margin-top: 10px;
}

.startNewGame {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    height: 200px;
}

.startNewGame button, span {
    margin-top: 10px !important;
}

.returnLobbyButton {
    width: 100px;
    height: 100px;
    background-image: url("./images/exit.png");
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: bottom 8px left 15px;
    border-radius: 212px;
}

.returnToLobbyText {
    display: block;
    width: 200px;
    height: 30px;
    color: rgb(232, 230, 227);
    font-size: 24px;
}
